<h4>{{titulo}}</h4>

<button type="button" (click)="administrador=!administrador">Cambiar</button>

<div *ngIf="administrador; then Admin else noAdmin">
    <strong>Eres el administrador de la webapp</strong>
</div>

<ng-template #Admin>
  <div class="">
      <strong>Eres el administrador de la webapp</strong>
  </div>
</ng-template>

<ng-template #noAdmin>
  <div class="">
      <strong>No eres el administrador de la webapp</strong>
  </div>
</ng-template>


<componente-hijo
  [propiedad_uno]="propiedad_uno"
  [texto]="propiedad_dos"
  [web] = "identity"
  (desde_el_hijo)="recibirDatos($event)"
></componente-hijo>
