<h3>{{titulo}}</h3>

<span *ngIf="!productos">Cargando...</span>

<div *ngIf="productos">
  <div class="row">
    <div *ngFor="let producto of productos" class="col-lg-3">
      <div class="thumbnail">
        <div class="imagen-container" *ngIf="producto.imagen">
          <img src="http://ashernetz.com/backend/uploads/{{producto.imagen}}" alt="">
        </div>

        <div class="" *ngIf="!producto.imagen">
          <div class="img-relleno"></div>
        </div>
        <div class="caption">
          <h3>{{producto.nombre}}</h3>
          <p>{{producto.precio}}</p>
          <p>
              <a href="" class="btn btn-primary btn-md">Ver</a>
              <a href="" class="btn btn-warning btn-md">Editar</a>
              <a href="" class="btn btn-danger btn-md">Borrar</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
