<h3>{{titulo}}</h3>

<span *ngIf="!productos">Cargando...</span>

<div *ngIf="productos">
  <div class="row">
    <div *ngFor="let producto of productos" class="col-lg-3">
      <div class="thumbnail">
        <div class="imagen-container" *ngIf="producto.imagen">
          <img src="http://ashernetz.com/backend/uploads/{{producto.imagen}}" alt="">
        </div>

        <div class="" *ngIf="!producto.imagen">
          <div class="img-relleno"></div>
        </div>
        <div class="caption" >
          <h3>{{producto.nombre}}</h3>
          <p>{{producto.precio}}</p>
              <div class="botones" *ngIf="confirmado != producto.id">
                <a href="" class="btn btn-primary btn-md" [routerLink]="['/producto', producto.id]">Ver</a>
                <a href="" class="btn btn-warning btn-md" [routerLink]="['/producto-edit', producto.id]">Editar</a>
                <a class="btn btn-danger btn-md" (click)="borrarConfirm(producto.id)">Borrar</a>
              </div>
              <div class="seguro" *ngIf="confirmado == producto.id">
                <p>Está seguro de borrar el producto? </p>
                  <a class="btn btn-danger btn-md" (click)="borrarProducto(producto.id)">Si</a>
                  <a class="btn btn-primary btn-md" (click)="cancelarConfirm()">No</a>
              </div>
        </div>
      </div>
    </div>
  </div>
</div>
